body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEHdb2Xy74Z9X5rviK1ygowyL-SWN5gohYsOoump8a-ws3xZKRYp3a6b1g&s=10");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  overflow-x: hidden;
}
/*Add a full image of Mahoraga.
Then, give an explanation of who and what he is and why he is relevant to me.*/
